/* _reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.explore_titre {
  font-weight: 700;
  font-size: 24px;
  width: 80%;
}
@media (min-width: 768px) {
  .explore_titre {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .explore_titre {
    font-size: 40px;
  }
}

.explore_text {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  line-height: 22px;
}

.fonctionnement_title,
.restaurants_titre {
  font-weight: 700;
  font-size: 24px;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
}

.card_subtitle {
  font-weight: 300;
  font-size: 17px;
}

.pastille_txt {
  font-weight: 500;
  font-size: 14px;
  color: #008766;
}

.menu_titre {
  font-weight: 500;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}

.menu_section-title {
  font-weight: 300;
  font-size: 16px;
}

.menu_item-name {
  font-weight: 500;
  font-size: 18px;
}

.menu_item-description {
  font-weight: 300;
  font-size: 15px;
}

.menu_item-price {
  font-weight: 700;
  font-size: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_logo {
  width: 100%;
  height: 63px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .header_logo {
    box-shadow: none;
  }
}
.header_logo img {
  width: 197px;
  padding: 0px 17.5px;
}

.header_location {
  background-color: #eaeaea;
  color: #353535;
  width: 100%;
  height: 50px;
  gap: 8px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .header_location {
    box-shadow: none;
  }
}
.header_location .fa-location-dot {
  color: #353535;
}
.header_location input {
  border: none;
  background: none;
  width: 118px;
  padding: 3px;
  font: inherit;
}
.header_location input::-moz-placeholder {
  color: #353535;
}
.header_location input::placeholder {
  color: #353535;
}

.fa-arrow-left {
  position: absolute;
  top: 21px;
  left: 23px;
  font-size: 17px;
  color: #353535;
  z-index: 2;
}

.footer {
  color: white;
  padding: 25px 22px;
  background-color: #353535;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    gap: 90px;
  }
}
.footer img {
  width: 100px;
  filter: invert(1) brightness(2);
}
@media (min-width: 768px) {
  .footer img {
    margin-right: 20px;
  }
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer ul {
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
  }
}

.footer li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.footer li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 10px;
}
.footer li a i {
  color: white;
  height: 15px;
}

@media (min-width: 768px) {
  .footer-partenaire {
    margin-right: 25px;
  }
}
.explore_cta,
.order_button {
  border: none;
  margin: 15px 0px 15px 0px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(359deg, #9356dc 0%, #ff79da 100%);
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.12);
}
.explore_cta:hover,
.order_button:hover {
  opacity: 0.85;
}

.explore_cta {
  padding: 15.5px 20px;
}

.order_button {
  padding: 15.5px 49px;
}

.fonctionnement_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 400px;
  background-color: #f6f6f6;
  gap: 25px;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
  color: #353535;
}
.fonctionnement_button:hover {
  color: #9356dc;
}
.fonctionnement_button:hover .fa-solid {
  color: #9356dc;
}
.fonctionnement_button .fa-solid {
  color: #7e7e7e;
  height: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a,
i {
  cursor: pointer;
}

main {
  background-color: #f6f6f6;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  animation: fadeOut 3s forwards;
}

.loader::after {
  content: "";
  border: 4px solid #9356dc;
  border-top: 4px solid #ff79da;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.explore {
  padding: 30px 35px;
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  width: 100%;
  padding: 50px 20px 70px 20px;
  background-color: white;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding: 50px 100px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    align-items: stretch;
  }
}
.fonctionnement_step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 6px 0px;
}

.fonctionnement_steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}
@media (min-width: 1024px) {
  .fonctionnement_steps {
    flex-direction: row;
    justify-content: space-between;
  }
}

.step_number {
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: -10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurants {
  padding: 50px 17.5px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 50px 100px;
  }
}

.restaurants_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 18px;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurants_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}

.restaurants_card {
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.restaurants_card img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card--content {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card--content .card_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.restaurants_pastille {
  display: inline-block;
  background-color: #99e2d0;
  border-radius: 2px;
  position: absolute;
  top: 12.5px;
  right: 12.5px;
}

.pastille_txt {
  padding: 7px 15px;
}

label {
  font-size: 20px;
}

i.fa-solid.fa-heart::before {
  background: linear-gradient(201deg, #9356dc 0%, #ff79da 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.card--content .toggle-checkbox {
  display: none;
}

.card--content .fa-regular .regular-icon,
.card--content .solid-icon {
  transition: font-size 0.3s ease, opacity 0.3s ease;
  font-size: 1em;
}

.card--content .fa-regular .regular-icon {
  display: inline;
}

.card--content .solid-icon {
  display: none;
  font-size: 1em;
}

.card--content .toggle-checkbox:checked + .toggle-label .regular-icon {
  display: none;
  opacity: 0;
}

.card--content .toggle-checkbox:checked + .toggle-label .solid-icon {
  display: inline;
  opacity: 1;
  animation: growShrinkFontSize 0.5s forwards;
}

@keyframes growShrinkFontSize {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.35em;
  }
  100% {
    font-size: 1em;
  }
}
.menu {
  background-color: white;
}

.masthead {
  position: relative;
  z-index: 1;
}
.masthead img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_container {
  background-color: #f6f6f6;
  position: relative;
  margin: -30px 0 0 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .menu_container {
    padding: 0 14.6% 0 14.6%;
    margin: -30px 13.3% 0px 13.3%;
  }
}

.menu_head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 40px 15px 30px 15px;
}
@media (min-width: 1024px) {
  .menu_head {
    justify-content: center;
  }
}

.menu_container i {
  font-size: 25px;
}

.menu_section {
  padding: 13px 13px 20px 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
}

.menu_section_button {
  padding: 15px 13px 30px 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.menu_section-title {
  position: relative;
}

.menu_section-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

.menu_item {
  position: relative;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.menu_container .toggle-checkbox {
  display: none;
}

.menu_container .regular-icon,
.menu_container .solid-icon {
  transition: font-size 0.3s ease, opacity 0.3s ease;
  font-size: 1em;
}

.menu_container .regular-icon {
  display: inline;
}

.menu_container .solid-icon {
  display: none;
  font-size: 1em;
}

.menu_container .toggle-checkbox:checked + .toggle-label .regular-icon {
  display: none;
  opacity: 0;
}

.menu_container .toggle-checkbox:checked + .toggle-label .solid-icon {
  display: inline;
  opacity: 1;
  animation: growShrinkFontSize 0.5s forwards;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 15.5px 15px;
}

.menu_item-price {
  padding-right: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.menu_item .toggle-checkbox {
  display: none;
}

.menu_item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.square_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -59px;
  top: 0;
  transition: transform 0.5s ease-in-out;
}

.fa-circle-check {
  color: white;
}

.toggle-checkbox:checked + .rectangle .square_check,
.toggle-checkbox:checked + .rectangle .menu_item-price {
  transform: translateX(-59px);
}

@media (min-width: 1024px) {
  .menu_item:hover .rectangle .square_check,
  .menu_item:hover .rectangle .menu_item-price {
    transform: translateX(-59px);
  }
}
.menu_item-name,
.menu_item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  transition: text-overflow 0.5s ease-in-out;
  width: 100%;
}
@media (max-width: 375px) {
  .menu_item-name,
  .menu_item-description {
    max-width: 240px;
    text-overflow: ellipsis;
  }
}
@media (max-width: 332px) {
  .menu_item-name,
  .menu_item-description {
    white-space: normal;
  }
}

.toggle-checkbox:checked + label .menu_item-description {
  text-overflow: ellipsis;
  width: calc(100% - 63px);
}

.toggle-checkbox:checked + label .menu_item-name {
  text-overflow: ellipsis;
  width: calc(100% - 63px);
}

.menu_item {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 1s forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */