/* _reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.explore_titre {
  font-weight: 700;
  font-size: 24px;
}

.explore_text {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}

.fonctionnement_title,
.restaurants_titre {
  font-weight: 700;
  font-size: 24px;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
}

.card_subtitle {
  font-weight: 300;
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_logo {
  width: 100%;
  height: 63px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.header_logo img {
  width: 197px;
}

.header_location {
  background-color: #eaeaea;
  color: #353535;
  width: 100%;
  height: 50px;
  gap: 17px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  color: white;
  padding: 25px 22px;
  background-color: #353535;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer img {
  width: 100px;
  filter: invert(1) brightness(2);
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}

.explore_cta {
  border: none;
  padding: 18px 18px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(359deg, #9356dc 0%, #ff79da 100%);
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.fonctionnement_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 500;
  font-size: 16px;
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: #f6f6f6;
  gap: 25px;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
}

main {
  background-color: #f6f6f6;
}

.explore {
  padding: 30px 40px;
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  padding: 50px 17.5px;
  background-color: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.fonctionnement_step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step_number {
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: -10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  color: #7e7e7e;
  height: 20px;
}

.restaurants {
  padding: 50px 17.5px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.restaurants_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  gap: 18px;
  width: 100%;
}

.restaurants_card {
  background-color: white;
  border-radius: 15px;
}
.restaurants_card img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card--content {
  padding: 15px;
}
.card--content .card_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}/*# sourceMappingURL=main.css.map */