// utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

// base
@import "base/reset";
@import "base/typography";

// layout
@import "layout/header";
@import "layout/footer";

// components
@import "components/buttons";
@import "components/cards";

main{
    background-color: $color-light-gray;
}
.explore{
    padding: 30px 40px;
    gap: 20px;
    text-align: center;
    @include flex-center_column;
}
.fonctionnement{
    width: 100%;
    padding: 50px 20px;
    background-color: white;
    gap: 20px;
    @include flex-start_column;
}