// utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

// base
@import "base/reset";
@import "base/typography";

// layout
@import "layout/header";
@import "layout/footer";

// components
@import "components/buttons";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a,
i {
  cursor: pointer;
}

main {
  background-color: $color-light-gray;
}

// ACCUEIL

.explore {
  padding: 30px 35px;
  gap: 20px;
  text-align: center;
  @include flex(column, center, center);
}

.fonctionnement {
  width: 100%;
  padding: 50px 20px 70px 20px;
  background-color: white;
  gap: 25px;
  @include flex(column, center, stretch);

  @media (min-width: 768px) {
    padding: 50px 100px;
  }

  @media (min-width: 1024px) {
    align-items: stretch;
  }

  &_step {
    @include flex(row, flex-start, center);
    width: 100%;
    padding: 6px 0px;
  }
}

.fonctionnement_steps {
  @include flex(column, flex-start, stretch);
  gap: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.step_number {
  background-color: $color-dark-violet;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: -10px;
  z-index: 2;
  @include flex(column, center, center);
}

.fa-solid {
  color: $color-grey-icon;
  height: 20px;
}

.fa-store {
  color: $color-dark-violet;
}

.restaurants {
  padding: 50px 17.5px;
  gap: 20px;
  @include flex(column, flex-start, flex-start);

  @media (min-width: 768px) {
    padding: 50px 100px;
  }
}

.restaurants_cards {
  @include flex(column, center, stretch);
  gap: 18px;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
  }
}

.restaurants_card {
  background-color: white;
  border-radius: 15px;
  position: relative;

  img {
    height: 174px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.card--content {
  padding: 15px;
  @include flex(row, space-between, center);

  .card_txt {
    @include flex(column, flex-start, flex-start);
    gap: 8px;
  }
}

.restaurants_pastille {
  display: inline-block;
  background-color: $color-light-green;
  border-radius: 2px;
  position: absolute;
  top: 12.5px;
  right: 12.5px;
}

.pastille_txt {
  padding: 7px 15px;
}

// ANIMATION COEUR ACCUEIL

label {
  font-size: 20px;
}

i.fa-solid.fa-heart::before {
  background: linear-gradient-deg(201deg);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card--content {
  .toggle-checkbox {
    display: none;
  }

  .fa-regular .regular-icon {
    display: inline;
  }

  .solid-icon {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .regular-icon {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .solid-icon {
    display: inline;
  }
}

// PAGES RESTAURANTS

.menu {
  background-color: white;
}

.masthead {
  position: relative;
  z-index: 1;

  img {
    height: 275px;
    width: 100%;
    object-fit: cover;
  }
}

.menu_container {
  background-color: $color-light-gray;
  position: relative;
  margin: -30px 0 0 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;

  @media (min-width: 1024px) {
    padding: 0 14.6% 0 14.6%;
    margin: -30px 13.3% 0px 13.3%;
  }
}

.menu_head {
  @include flex(row, flex-start, center);
  gap: 30px;
  padding: 40px 15px 30px 15px;

  @media (min-width: 1024px) {
    justify-content: center;
  }
}

.menu_container i {
  font-size: 25px;
}

.menu_section {
  padding: 13px 13px 20px 13px;
  @include flex(column, flex-start, stretch);
  gap: 12px;
}

.menu_section_button {
  padding: 15px 13px 30px 13px;
  @include flex(column, flex-start, center);
  gap: 12px;
}

.menu_section-title {
  position: relative;
}

.menu_section-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: $color-light-green;
}

.menu_item {
  position: relative;
  background-color: white;
  border-radius: 15px;
  @include flex(row, space-between, flex-end);
  position: relative;
}

// ANIMATION COEUR PAGES RESTAURANTS

.menu_container {
  .toggle-checkbox {
    display: none;
  }

  .regular-icon {
    display: inline;
  }

  .solid-icon {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .regular-icon {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .solid-icon {
    display: inline;
  }
}
// ANIMATION AJOUT PANNIER

.rectangle {
  @include flex(row, space-between, flex-end);
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 15.5px 15px;
}
.menu_item-price {
  padding-right: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.menu_item .toggle-checkbox {
  display: none;
}
.menu_item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.square_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  background-color: $color-light-green;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -59px;
  top: 0;
  transition: transform 0.5s ease-in-out;
}
.fa-circle-check {
  color: white;
}
.toggle-checkbox:checked + .rectangle .square_check,
.toggle-checkbox:checked + .rectangle .menu_item-price {
  transform: translateX(-59px);
}
@media (min-width: 1024px) {
  .menu_item:hover .rectangle .square_check,
  .menu_item:hover .rectangle .menu_item-price {
    transform: translateX(-59px);
  }
}
.menu_item-name,
.menu_item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; /* Initially clip the overflow */
  transition: text-overflow 0.5s ease-in-out;
  width: 100%;
}
.toggle-checkbox:checked + label .menu_item-description {
  text-overflow: ellipsis; /* Show ellipsis when checked */
  width: calc(100% - 63px);
}
.toggle-checkbox:checked + label .menu_item-name {
  text-overflow: ellipsis; /* Show ellipsis when checked */
  width: calc(100% - 63px);
}
