.footer {
  color: white;
  padding: 25px 22px;
  background-color: #353535;
  gap: 16px;
  @include flex(column, flex-start, flex-start);
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 90px;
  }

  img {
    width: 100px;
    filter: invert(1) brightness(2);
  }

  ul {
    @include flex(column, flex-start, flex-start);
    gap: 7px;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
.footer li {
  @include flex(row, center, baseline);
  gap: 10px;
  i {
    color: white;
  }
}
@media (min-width: 768px) {
.footer-partenaire{
  margin-right: 40px;
}
}