.header {
  @include flex(column, center, center);
  position: relative;

  &_logo {
    width: 100%;
    height: 63px;
    z-index: 1;
    @include flex(column, center, center);
    @include box-shadow;
    @media (min-width: 768px) {
      box-shadow: none;
    }
    img {
      width: 197px;
      padding: 0px 17.5px;
    }
  }
}
.header_location {
  background-color: $color-dark-gray;
  color: $color-middle-gray;
  width: 100%;
  height: 50px;
  gap: 17px;
  z-index: 0;
  @include flex(row, center, center);
  @include font-style(500, 16px);
  @include box-shadow;
  @media (min-width: 768px) {
    box-shadow: none;
  }
  .fa-location-dot {
    color: $color-middle-gray;
  }
}
.fa-arrow-left {
  position: absolute;
  top: 21px;
  left: 23px;
  font-size: 17px;
  color: $color-middle-gray;
  z-index: 2;
}
