.explore_cta {
  @include main-button;
}

.fonctionnement_button {
  @include flex(row, flex-start, center); // Spécifiez tous les trois arguments
  @include font-roboto-medium-16;
  @include box-shadow;
  width: 100%;
  background-color: $color-light-gray;
  gap: 25px;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
}
