$font-family-roboto: 'Roboto', sans-serif;
$font-weight-medium: 500;
$font-size-16: 16px;

@mixin font-roboto-medium-16 {
    font-family: $font-family-roboto;
    font-weight: $font-weight-medium;
    font-size: $font-size-16;
  }