.explore_titre {
  @include font-style(700, 24px);
  width: 80%;
  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.explore_text {
  @include font-style(300, 18px);
  color: $color-middle-gray;
}

.fonctionnement_title,
.restaurants_titre {
  @include font-style(700, 24px);
}

.card_title {
  @include font-style(700, 18px);
}

.card_subtitle {
  @include font-style(300, 17px);
}
.pastille_txt {
  @include font-style(500, 14px);
  color: $color-dark-green;
}
.menu_titre {
  @include font-style(500, 28px);
  font-family: "Shrikhand", sans-serif;
}
.menu_section-title {
  @include font-style(300, 16px);
}
.menu_item-name {
  @include font-style(500, 18px);
}
.menu_item-description {
  @include font-style(300, 15px);
}
.menu_item-price {
  @include font-style(700, 15px);
}
