@mixin flex-center_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-start_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-start_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
@mixin flex-stretch_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
@mixin box-shadow {
  box-shadow: -1px 6px 6px 0px rgb(0 0 0 / 25%);
}
@mixin main-button {
  border: none;
  padding: 18px 18px;
  color: white;
  border-radius: 25px;
  background: $color-main-button;
  @include font-roboto-medium-16;
  @include box-shadow;
}
