$color-dark-gray: #eaeaea;
$color-middle-gray: #353535;
$color-grey-icon: #7e7e7e;
$color-light-gray: #f6f6f6;
$color-dark-violet: #9356dc;
$color-main-button: linear-gradient(
  359deg,
  $color-dark-violet 0%,
  #ff79da 100%
);
