$color-dark-gray: #eaeaea;
$color-middle-gray: #353535;
$color-grey-icon: #7e7e7e;
$color-light-gray: #f6f6f6;
$color-dark-violet: #9356dc;
$color-light-pink: #ff79da;
$color-dark-green: #008766;
$color-light-green: #99e2d0;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-28: 40px;
